body {
    margin: 0;
    background-color: #E6F4FC;
    font-family: 'Bell MT';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
#mainheader h1{
    color: #28467C;
    text-align: left;
    padding: 2%;
}
#mainheader {
    margin-bottom: auto;
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
}
#tableHead{
    width: 100%;
    padding: 10px 32px;
}

/*-------------------*/
/* MENU */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    text-decoration: underline;
    color: white;
  }
/*-------------------*/


/* MIDDLE PART */
.infoWrapper {
    align-content: center;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    border-radius: .3em;
    width: 96%;
    padding: 2%;
    margin: 1em auto 1em auto;
    max-width: 960px;
    background-color: #FFFFFF;
    display: flex;
}

/* ENSKILT FÖRETAG */

  .left {
    height: 700px;
    flex: 15%;
    padding: 15px 0;
    background-color: #ebebeb;
    border: black 2px;
    }
    .left h2 {
      padding-left: 12px;
    }
    /* Style the search box */
    #searchField {
      margin-left: 12px;
      width: 150px;
      font-size: 18px;
      padding: 11px;
      border: 1px solid #ddd;
      border-radius: 15px;
    }
    /* Style the navigation  inside the left column */
    #searchList {
      height: 600px;
      overflow-y:scroll;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    #searchList li a {
      padding: 5px;
      padding-left: 12px;
      text-decoration: none;
      color: black;
      display: block;
    }
    #searchList li a:hover {
      background-color: white;
  }
    
  .right {
    flex: 65%;
    padding: 15px;
    }    
    .containerrr{
      display: flex;
      flex-wrap: wrap;
    }
    .box1, .box2 {
      text-align: center;
      float: left;
      flex-basis: 40%;
      border: 1px solid black;
      border-left: none;
      border-right: none;
      border-top: none;
      padding:15px;
    }
    .box1{
      border: 1px solid black;
      border-left: none;
      border-top: none;
    }
    .box3 {
      flex-basis: 100%;
    }
    .cat{
      float:left;
      text-align: center;
      padding: 15px;
      padding-top: none;
    }


/* KATEGORIER - boxar */ 
.box {
  float:left;
  padding-right: 12px;
  }
  .box h3{
    padding-left: 25px;
  }
  .box canvas{
    border-radius: 15px;
  }
  #tot_box h3{
    padding-left: 5px;
  }
  #kat_sma_pie, #kat_sma_bar{
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
  }
  .kategori_bar{
    padding-bottom: 25px;
  }

/* Sammanlagd statistik - top list*/
#topList{
  border-collapse: collapse;
  border: none;
  }
  #topList td, th {
    padding:10px;
    border: 1px solid #c9c9c9;
  }
  #topList th:first-child{
    border-left: none;
  }
  #topList th:last-child{
    border-right: none;
  }
  #topList tr:first-child th {
    border-top: none;
  }
  #topList tr:last-child td {
    border-bottom: none;
  }
  #topList tr td:first-child {
    border-left: none;
  }
  #topList tr td:last-child {
    border-right: none;
}

  #tot_pie{
    border: 1px solid black;
    border-top:none;
    border-bottom:none;
  }
  #tot_bar, #tot_pie, #ranking{
    text-align: center;
    padding: 5px;
  }


/*-------------------*/


/* FOOTER */
#mainfooter {
    background-color: #333;
    text-align: center;
    padding: 2% 0;
    color: white;
    bottom: 0;
    padding: 2% 0;
    width: 100%;
    margin-top: auto;
}
/*-------------------*/